{% extends "base.html" %}
{% block title %}Accueil - Horaire ISC{% endblock %}
{% block content %}
<div class="text-center">
    <img src="static/logo.jpg" alt="Logo ISC" class="logo-isc mb-3">
    <h1 class="display-5 fw-bold text-primary mb-3">Bienvenue sur la plateforme Présence ISC Butembo</h1>
    <p class="lead mb-4">
        Gérez facilement les Promotions, les présences, les enseignants, les étudiants et les cours.<br>
        Accédez à vos rapports et à la gestion des utilisateurs selon votre rôle.
    </p>
    {% if not session.get('username') %}
    <a href="{{ url_for('home') }}" class="btn btn-primary btn-lg">Se connecter</a>
    {% endif %}
</div>
{% endblock %}